WAQI_TOKEN=fc50d7642e513aafe0e44be363b2969082d62d0e
OW_TOKEN=ed033a38d2e521e93e0c01c66bede1c7
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
JDBC_URL=jdbc:postgresql://postgres:5432/airflow
AIRFLOW_WEBSERVER_SECRET_KEY=your_secret_key_here
AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_admin_password_here
